.round-icon {
  width: 40px;
  height: 40px;
  border-radius: 80px;
  background: #FF91AF;
  cursor: pointer;
  opacity: 0.3;
  text-align: center;
  line-height: 40px;
}

.round-icon.active {
  background: #999;
}

.big-round-icon {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background: #ddd;
  cursor: pointer;
}

.big-round-icon.active {
  background: #999;
}

.double-icon {
  width: 80px;
  height: 60px;
  border-radius: 5px;
  background: #ddd;
  cursor: pointer;
  opacity: 0;
}

.midst {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #FFF5EE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.title-bar {
  width: 100vw;
  height: 25px;
  -webkit-app-region: drag;
  font-size: 12px;
}

.title-bar .title {
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.top-toolbar {
  width: 100vw;
  height: 65px;
}

.logo {
  position: absolute;
  top: -8px;
  left: -3px;
  width: 190px;
  height: 85px;
  padding: 0;
  overflow: hidden;
  opacity: 0.6;
}

.logo svg {
  display: block;
  position: absolute;
  top: -52px;
  left: 0;
  width: 190px;
  height: 190px;
  fill: #FF91AF;
}

.editor {
  width: 100vw;
  height: calc(100vh - 25px - 65px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.editor #editable {
  width: calc(100% - 140px);
  height: calc(100% - 40px);
  padding: 40px 70px 0 70px;
}

.editor #editable:focus {
  outline: none;
}

.editor #editable p {
  margin: 0;
  padding: 0;
}

#editable .bold {
  font-weight: bold;
}

.bottom-toolbar {

}

.timeline-toggles {
  position: absolute;
  bottom: -5px;
  right: 15px;
  z-index: 9999;
  overflow: hidden;
}

.timeline-toggles .icon {
  display: inline-block;
  width: 50%;
  height: 100%;
}

.timeline-toggles .icon.timeline-toggle {
  background: #666;
}

.timeline-toggles .icon.drawer-toggle {
  background: #ddd;
}

.timeline {
  position: fixed;
  bottom: -5px;
  right: 55px;
  left: calc(100vw - 80px - 15px);
  z-index: 9998;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  background: #666;
  transition: all 250ms;
}

.timeline.open {
  z-index: 99999;
  left: 15px;
  right: 15px;
}

.drawer {
  position: fixed;
  bottom: -5px;
  right: 15px;
  width: 80px;
  z-index: 9997;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  background: #ddd;
  transition: all 250ms;
}

.drawer.open {
  width: 178px;
  height: calc(100vh - 100px);
}

.top-toolbar .toolbar-icons {
  position: fixed;
  top: 15px;
  right: 15px;
  height: 40px;
}

.top-toolbar .toolbar-icons .round-icon {
  float: right;
  margin-left: 10px;
}

.title-bar,
.top-toolbar,
.bottom-toolbar,
.timeline,
.drawer {
  transition: all 250ms;
}

.focus-mode .title-bar,
.focus-mode .top-toolbar,
.focus-mode .bottom-toolbar,
.focus-mode .timeline,
.focus-mode .drawer {
  opacity: 0;
}

.debug-layout .title-bar {
  background: red;
}

.debug-layout .top-toolbar {
  background: green;
}

.debug-layout .editor {
  background: yellow;
}

.debug-layout .round-icon {
  background: blue;
}

.debug-layout .double-icon {
  background: blue;
}

.debug-layout .timeline-toggles .icon.timeline-toggle {
  background: orange;
}

.debug-layout .timeline {
  background: orange;
}

.debug-layout .drawer {
  background: blue;
}
