.round-icon {
  width: 40px;
  height: 40px;
  border-radius: 80px;
  background: #FF91AF;
  cursor: pointer;
  opacity: 0.3;
  text-align: center;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-icon svg {
  display: inline;
}

.round-icon.active {
  background: #999;
}

.big-round-icon {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background: #ddd;
  cursor: pointer;
}

.big-round-icon.active {
  background: #999;
}

.double-icon {
  width: 90px;
  height: 60px;
  border-radius: 5px;
}

.double-icon .round-icon {
  float: right;
}

.midst {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #FFF5EE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.title-bar {
  width: 100vw;
  height: 25px;
  -webkit-app-region: drag;
  font-size: 12px;
}

.title-bar .title {
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.top-toolbar {
  width: 100vw;
  height: 65px;
}

.logo {
  position: absolute;
  top: -8px;
  left: -3px;
  width: 190px;
  height: 85px;
  padding: 0;
  overflow: hidden;
  opacity: 0.6;
}

.logo svg {
  display: block;
  position: absolute;
  top: -52px;
  left: 0;
  width: 190px;
  height: 190px;
  fill: #FF91AF;
}

.editor {
  width: 100vw;
  height: calc(100vh - 25px - 65px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.editor #editable {
  width: calc(100% - 140px);
  height: calc(100% - 40px);
  margin: 40px 70px 0 70px;
}

.editor #editable:focus {
  outline: none;
}

.editor #editable p {
  margin: 0;
  padding: 0;
}

#editable .bold {
  font-weight: bold;
}

.bottom-toolbar {

}

.timeline-toggles {
  position: absolute;
  bottom: -5px;
  right: 15px;
  z-index: 9999;
  overflow: hidden;
}

.timeline-toggles .round-icon {
  background: transparent;
  color: #FF91AF;
}

.timeline {
  position: fixed;
  bottom: 15px;
  right: 15px;
  left: calc(100vw - 80px - 25px);
  z-index: 9998;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  background: #FF91AF;
  transition: all 250ms;
  opacity: 0;
}

.timeline.open {
  z-index: 99999;
  left: 15px;
  right: 15px;
  opacity: 1;
  border-radius: 5px;
}

.timeline {
  text-align: right;
}

.timeline-controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
}

.timeline .round-icon {
  display: inline-flex;
  background: transparent;
  justify-content: center;
}

.drawer {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9998;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  background: #FF91AF;
  transition: all 250ms;
  opacity: 0;
}

.drawer.open {
  width: 239px;
  height: calc(100vh - 100px);
  opacity: 1;
  border-radius: 5px;
}

.top-toolbar .toolbar-icons {
  position: fixed;
  top: 15px;
  right: 15px;
  height: 40px;
}

.top-toolbar .toolbar-icons .round-icon {
  float: right;
  margin-left: 10px;
}

.title-bar,
.top-toolbar,
.bottom-toolbar,
.timeline,
.drawer {
  transition: all 250ms;
}

.focus-mode .title-bar,
.focus-mode .top-toolbar,
.focus-mode .bottom-toolbar,
.focus-mode .timeline,
.focus-mode .drawer {
  opacity: 0;
}

.timeline-toggle {
  opacity: 0;
  transition: opacity 250ms;
  pointer-events: none;
}

.timeline-toggle.visible {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.timeline .hem-slider {
  width: calc(100% - 180px);
  margin: 20px 0 0 20px;
  height: 2px;
  border-radius: 3px;
  background: gray;
  border: 0;
}

.timeline .hem-slider .hem-slider__progress {
  position: relative;
  border-radius: 3px;
}

.timeline .hem-slider .hem-slider__progress::after {
  display: block;
  position: absolute;
  right: -4px;
  top: -6px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: white;
  content: ' ';
  transition: all 150ms;
  transform-origin: center;
}

.timeline .hem-slider:active .hem-slider__progress::after {
  transform: scaleX(1.2) scaleY(1.2);
}

.debug-layout .title-bar {
  background: red;
}

.debug-layout .top-toolbar {
  background: green;
}

.debug-layout .editor {
  background: yellow;
}

.debug-layout .round-icon {
  background: blue;
}

.debug-layout .double-icon {
  background: blue;
}

.debug-layout .timeline-toggles .icon.timeline-toggle {
  background: orange;
}

.debug-layout .timeline {
  background: orange;
}

.debug-layout .drawer {
  background: blue;
}
